* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("./assets/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("./assets/fonts/AvenirNextLTPro-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("./assets/fonts/AvenirNext-DemiBold.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("./assets/fonts/AvenirNextLTPro-It.otf");
  font-weight: normal;
  font-style: italic;
}

body {
  font-family: "Avenir Next LT Pro", sans-serif;
  color: #2a2a2a;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  max-width: none;
  margin: 0 auto;
  padding: 4rem 2rem;
  background-color: #fafaf8;
}

.hero,
.sampling {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 60px;
  align-items: center;
  justify-content: space-between;
}

.second-doors-container .sampling {
  margin-bottom: 0px;
  margin-top: 60px;
}

.hero-content,
.sampling-content {
  flex: 1;
  min-width: 280px;
}

.hero-title,
.sampling-title,
.form-title {
  font-size: 28px;
  color: #907e7e;
  font-weight: bold;
  line-height: 120%;
  letter-spacing: -4%;
}

.hero-description {
  color: #907e7e;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -4%;
  margin-top: 35px;
  max-width: 470px;
}

.hero-image-container,
.sampling-image-container {
  flex: 1;
  min-width: 280px;
  max-width: 1200px;
}

.big-sampling .sampling-image-container {
  max-width: none;
}

.image-container {
  position: relative;
}

.hero-image,
.product-showcase-image,
.sampling-image {
  width: 100%;
  height: auto;
}

.hero-image {
  background: transparent !important;
}

.dark-image-overlay::before {
  background-color: #eaeaeb;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  mix-blend-mode: multiply;
  pointer-events: none;
  position: absolute;
  z-index: 1;
}

.material-title {
  margin: 20px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -2%;
}

.material-description {
  color: #2a2a2a;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -1%;
  max-width: 400px;
}

.materials-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.material-card,
.technical-card {
  display: flex;
  flex-direction: column;
}

.material-card img,
.technical-card img {
  width: 100%;
  height: 100%;
  min-height: 135px;
}

.material-card .image-container,
.technical-card .image-container {
  margin-bottom: 15px;
}

.material-card h3 {
  margin: 35px 0 20px;
}

.material-card h3,
.technical-card h3 {
  color: #111111;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -2%;
  max-width: 200px;
}

.technical-card h3,
.doors-container .material-card h3 {
  margin: 20px 0;
}

.second-doors-container .material-card h3 {
  margin-top: 26px;
}

.material-card p,
.technical-card p {
  color: #2a2a2a;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -1%;
}

.technical-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  gap: 40px;
}

.technical-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

.doors-container {
  background-color: #a08471;
  color: #ffffff;
}

.doors-container .hero-image-container,
.second-doors-container .hero-image-container {
  flex: 1;
  min-width: 280px;
  max-width: 1000px;
}

.doors-container .hero,
.sampling {
  gap: 40px;
}

.doors-container .hero-title,
.doors-container .hero-content p,
.sampling-title,
.doors-container .materials-grid h3 {
  color: #ffffff;
}

.specification h3 {
  font-family: Avenir Next;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0%;
}

.specification p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -1%;
}

.doors-container .hero-specification {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 350px;
}

.sampling-description,
.second-doors-container .hero-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1%;
  margin-top: 30px;
  max-width: 468px;
}

.second-doors-container .hero-description {
  color: #2a2a2a;
}

.second-doors-container .specification {
  color: #000000;
}

.sampling-specification {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.booking-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.form-description {
  color: #2a2a2a;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -1%;
  max-width: 400px;
  margin-top: 20px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -2%;
  color: #111111;
  margin-top: 30px;
}

.contact-info p {
  font-weight: bold;
}

.contact-info p:last-child {
  font-weight: 400;
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

label {
  display: block;
}

label,
label a {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -1%;
  color: #2a2a2a;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  background-color: #d9d9d9;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0%;
}

textarea {
  min-height: 100px;
  resize: vertical;
}

.checkbox-container {
  margin-top: 27px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.checkbox-group {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.checkbox-group input[type="checkbox"] {
  appearance: none;
  width: 24px;
  height: 24px;
  background-color: #d9d9d9;
  font: inherit;
  display: grid;
  place-content: center;
  cursor: pointer;
}

.checkbox-group input[type="checkbox"]::before {
  content: "";
  width: 24px;
  height: 24px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: #a08471;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.checkbox-group a {
  text-decoration: underline;
}

button {
  background-color: #907e7e;
  color: #ffffff;
  width: 188px;
  border: none;
  padding: 8px 0;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -1%;
  margin-top: 4px;
}

@media (min-width: 544px) {
  .container {
    padding: 4rem;
  }

  .hero-title,
  .sampling-title,
  .form-title {
    font-size: 2rem;
  }

  .materials-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .technical-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .container {
    padding: 4rem 5rem;
  }

  .materials-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
  }

  .form-description {
    margin-top: 60px;
  }

  .second-doors-container .hero-content {
    max-width: 500px;
  }

  .form-row {
    grid-template-columns: 1fr 1fr;
    gap: 46px;
  }

  .doors-container .hero-specification {
    gap: 30px;
  }

  .sampling-specification {
    gap: 30px;
  }

  .second-doors-container .sampling {
    margin-top: 115px;
  }
}

@media (min-width: 1024px) {
  .hero-title,
  .sampling-title,
  .form-title {
    font-size: 55px;
  }

  .hero-content p,
  .doors-container .hero-content p {
    font-size: 24px;
    line-height: 42px;
  }

  .sampling-description,
  .second-doors-container .hero-description {
    font-size: 18px;
    line-height: 24px;
  }

  .hero-title.glass {
    margin-bottom: 70px;
  }

  .hero,
  .sampling {
    gap: 50px;
    margin-bottom: 100px;
  }

  .big-sampling {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .technical-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }

  .technical-grid {
    margin-top: 90px;
  }

  .materials-grid {
    gap: 50px;
  }

  .container {
    padding: 8rem 6rem;
  }

  .hero-right-margin {
    margin-right: 45px;
  }

  .hero-middle-margin {
    margin-left: 45px;
    margin-right: 45px;
  }

  .booking-form {
    grid-template-columns: 1fr 1fr;
  }

  .form-fields {
    margin-top: 280px;
  }

  .sampling-content,
  .form-intro,
  .hero-content {
    margin-left: 50px;
  }
}

@media (min-width: 1440px) {
  .form-fields {
    margin-top: 200px;
  }

  .big-sampling .sampling-specification {
    margin-left: 140px;
  }

  .second-doors-container .hero-content {
    margin-left: 80px;
  }

  .sampling-content,
  .form-intro,
  .hero-content {
    margin-left: 90px;
  }

  .big-sampling .sampling-specification {
    margin-left: 70px;
  }

  .hero,
  .sampling,
  .technical-container {
    gap: 90px;
  }

  .second-doors-container .hero-content {
    margin-left: 150px;
  }

  .technical-grid {
    gap: 110px;
  }

  .doors-container .hero,
  .sampling {
    gap: 170px;
  }

  .hero-middle-margin {
    margin-left: 95px;
    margin-right: 95px;
  }
}
